@charset "UTF-8";

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --text-color: #333;
    --background-color: #f4f4f4;
    --cta: #f53030;
}

.font-title {
    font-family: 'Montserrat', 'Arial';
}

.font-body {
    font-family: 'Open Sans', 'Arial';
}

.hero-section .logotipo  svg {
    width: 150px;
    height: auto;
}

.hero-section .navbar {
    padding-bottom: 0.5em;
}

.hero-content {
    background-image: url('../imgs/hero-bg.jpeg');
    background-size: cover;
    background-position: bottom center;
    height: 80vh;
}

.overlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: linear-gradient(to left, rgba(0,0,0,0.4), rgba(0,0,0,0.6));
    mix-blend-mode: multiply;
    pointer-events: none;
    height: 80vh;
    z-index: 2;
}

.btn-cta {
    /* background-color: var(--cta);
    color: white; */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

